@font-face {
    font-family: 'Unisans HeavyCAPS';
    src: url('./fonts/UniSans/UniSansDemo-HeavyCAPS.ttf');
}
@font-face {
    font-family: 'Uni Sans Trial Heavy';
    src: url('./fonts/UniSans/UniSans-Trial-Heavy.ttf');
}
@font-face {
    font-family: 'Unisans Bold';
    src: url('./fonts/UniSans/UniSans-Trial-Bold.ttf');
}
@font-face {
    font-family: 'Unisans Regular';
    src: url('./fonts/UniSans/UniSans-Trial-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: url('./fonts/Ubuntu/ubuntu.regular.ttf');
}
@font-face {
    font-family: 'Ubuntu Light';
    src: url('./fonts/Ubuntu/ubuntu.light.ttf');
}
@font-face {
    font-family: 'Ubuntu Medium';
    src: url('./fonts/Ubuntu/ubuntu.medium.ttf');
}
@font-face {
    font-family: 'Ubuntu Bold';
    src: url('./fonts/Ubuntu/ubuntu.bold.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Regular.ttf');
}
@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Black.ttf');
}
@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-ExtraBold.ttf');
}
@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Medium.ttf');
}
@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-SemiBold.ttf');
}
@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Light.ttf');
}
@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Bold.ttf');
}

.background {
    -fx-background-image: url('./assets/lantern_background.jpg');
    -fx-background-size: cover;
    -fx-background-color: rgba(165, 106, 106, 0.5);
}
.background_white {
    -fx-background-color: white;
}
.content_box_background {
    -fx-background-color: rgb(255, 252, 241);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    -fx-padding: 20 40 20 10;
}
.background_transparent {
    -fx-background-color: transparent;
}

.back_button {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #8B0000, rgb(224, 48, 48));
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-border-color: rgb(224, 48, 48);
    -fx-border-width: 1;
    -fx-border-radius: 0;
}
.back_button:hover {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #ad1f1f, rgb(224, 48, 48));
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-border-color: rgb(224, 48, 48);
    -fx-border-width: 1;
    -fx-border-radius: 0;
}
.back_button:pressed {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #4e0000, rgb(224, 48, 48));
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-border-color: rgb(224, 48, 48);
    -fx-border-width: 1;
    -fx-border-radius: 0;
}
.login_button{
    -fx-background-color: #FF8F00;
    -fx-text-fill: white; 
    -fx-font-family: 'Nunito Bold';
    -fx-font-size: 22px;
    -fx-border-color: black; 
    -fx-border-width: 2px;
    -fx-background-radius: 10px; 
    -fx-border-radius: 10px;
}
.login_button:pressed{
    -fx-background-color: #ffa44e;
    -fx-text-fill: white; 
    -fx-font-family: 'Nunito Bold';
    -fx-font-size: 22px;
    -fx-border-color: black; 
    -fx-border-width: 2px;
    -fx-background-radius: 10px; 
    -fx-border-radius: 10px;
}
.lantern_button{
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-border-color: transparent;
    -fx-background-image: url('./assets/lantern_icon.png');
    -fx-padding: 50 50 50 50;
}
.lantern_button:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 169, 89, 1), 30, 0, 0, 0);
    -fx-background-image: url('./assets/lit_lantern.gif');
}
.register_text {
    -fx-font-family: 'Nunito Regular';
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.sidebar_button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-family: 'Nunito Bold';
    -fx-max-height: 30px;
}
.sidebar_button:hover {
    -fx-background-color: #8f1111;
    -fx-text-fill: white;
    -fx-font-size: 20;
}
.sidebar_button:pressed {
    -fx-background-color: #4e0000;
    -fx-text-fill: white;
    -fx-font-size: 20;
}
.sidebar_button_selected {
    -fx-background-color: rgb(255, 216, 75);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-size: 20;
    -fx-border-color: black;
    -fx-border-width: 0 0 0 6;
}
.separator .line {
    -fx-border-width: 0;
    -fx-background-color: white;
}

.search_button {
    -fx-background-color: white;
}
.search_button:hover {
    -fx-background-color: #ddd;
}
.search_button:pressed {
    -fx-background-color: #ccc;
}
.profile_button {
    -fx-background-color: transparent;
    -fx-text-fill: blue;
    -fx-font-size: 20;
    -fx-underline: true;
}
.add_friend_button{
    -fx-background-color: #FF8F00;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-family: 'Nunito Bold';
    -fx-font-weight: bold;
}
.add_friend_button:pressed{
    -fx-background-color: #ffa44e;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.separator {
    -fx-alignment: center;
    -fx-background-color: linear-gradient(to right, transparent, white, transparent);
    -fx-border-width: 0;
    -fx-max-height: 1;
    -fx-border-color: transparent;
}
.separator_vertical {
    -fx-alignment: center;
    -fx-orientation: vertical;
    -fx-background-color: linear-gradient(to bottom, transparent, white, transparent);
    -fx-border-width: 0;
    -fx-max-height: 550;
    -fx-pref-width: 1;
    -fx-padding: 0 4 0 4;
    -fx-border-color: transparent;
}

.title {
    -fx-font-family: 'Nunito ExtraBold';
    -fx-font-size: 40;
}
.text_bold {
    -fx-font-family: 'Nunito Bold';
    -fx-font-size: 20;
    -fx-text-fill: white;
}
.text_label {
    -fx-font-family: 'Nunito SemiBold';
    -fx-font-size: 18;
    -fx-text-fill: rgb(154, 154, 154);
}
.text_content {
    -fx-font-family: 'Nunito Medium';
    -fx-font-size: 18;
    -fx-text-fill: white;
}

.subtext {
    -fx-font-size: 16;
    -fx-text-fill: rgb(154, 154, 154);
}

.search_field {
    -fx-background-color: #fff;
    -fx-border-color: transparent;
    -fx-border-radius: 0px;
    -fx-padding: 0px;
    -fx-font-size: 18px;
    -fx-font-family: 'Nunito Regular';
    -fx-text-fill: #333;
    -fx-prompt-text-fill: #aaa;
}
.text_field {
    -fx-background-color: #fff;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-font-size: 16px;
    -fx-font-family: 'Nunito Regular';
    -fx-text-fill: #333;
    -fx-prompt-text-fill: #aaa;
}
.text_field_with_icon {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-font-size: 16px;
    -fx-font-family: 'Nunito Regular';
    -fx-text-fill: #333;
    -fx-prompt-text-fill: #aaa;
}
.text_field_with_icon .text {
    -fx-padding: 0 0 0 25px;
}
.text_field_with_icon .graphic {
    -fx-padding: 0 10px 0 5px;
}
.text_field_with_icon .content {
    -fx-background-color: #ddd;
    -fx-background-insets: 0 0 0 25px;
}