@font-face {
    font-family: 'Unisans HeavyCAPS';
    src: url('./fonts/UniSansDemo-HeavyCAPS.ttf');
}
@font-face {
    font-family: 'Unisans Heavy';
    src: url('./fonts/UniSans-Trial-Heavy.otf');
}
@font-face {
    font-family: 'Unisans Bold';
    src: url('./fonts/UniSans-Trial-Bold.otf');
}
@font-face {
    font-family: 'Unisans Regular';
    src: url('./fonts/UniSans-Trial-Regular.otf');
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: url('./fonts/ubuntu.regular.ttf');
}
@font-face {
    font-family: 'Ubuntu Light';
    src: url('./fonts/ubuntu.light.ttf');
}
@font-face {
    font-family: 'Ubuntu Medium';
    src: url('./fonts/ubuntu.medium.ttf');
}
@font-face {
    font-family: 'Ubuntu Bold';
    src: url('./fonts/ubuntu.bold.ttf');
}


.background {
    -fx-background-image: url('./assets/lantern_background.jpg');
    -fx-background-size: cover;
    -fx-background-color: rgba(165, 106, 106, 0.5);
}

.content_box_background {
    -fx-background-color: rgb(255, 252, 241);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    -fx-padding: 20 40 20 10;
}

.back_button {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #8B0000, rgb(224, 48, 48));
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-border-color: rgb(224, 48, 48);
    -fx-border-width: 1;
    -fx-border-radius: 0;
}
.back_button:pressed {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #4e0000, rgb(224, 48, 48));
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-border-color: rgb(224, 48, 48);
    -fx-border-width: 1;
    -fx-border-radius: 0;
}

.sidebar_button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.sidebar_button:pressed {
    -fx-background-color: #4e0000;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.separator .line {
    -fx-border-width: 0;
    -fx-background-color: white;
}

.profile_button {
    -fx-background-color: transparent;
    -fx-text-fill: blue;
    -fx-font-size: 20;
    -fx-underline: true;
}

.separator {
    -fx-alignment: center;
    -fx-background-color: linear-gradient(to right, transparent, white, transparent);
    -fx-border-width: 0;
    -fx-max-height: 1;
    -fx-pref-width: 200;
    -fx-border-color: transparent;
}
.separator_vertical {
    -fx-alignment: center;
    -fx-background-color: linear-gradient(to bottom, transparent, white, transparent);
    -fx-border-width: 0;
    -fx-max-height: 550;
    -fx-pref-width: 1;
    -fx-padding: 4 1 4 1;
    -fx-border-color: transparent;
}

.normal_text_label {
    -fx-font-family: 'Unisans Regular';
    -fx-font-size: 18;
    -fx-text-fill: rgb(154, 154, 154);
}
.normal_text_content {
    -fx-font-family: 'Unisans Regular';
    -fx-font-size: 20;
    -fx-text-fill: white;
}
.title {
    -fx-font-family: 'Unisans Heavy';
    -fx-font-size: 40;
}
.subtext {
    -fx-font-size: 16;
    -fx-text-fill: rgb(154, 154, 154);
}