.background {
    -fx-background-image: url('./assets/lantern_background.jpg');
    -fx-background-size: cover;
    -fx-background-color: rgba(165, 106, 106, 0.5);
}

.back_button {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #8B0000, rgb(224, 48, 48));
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-border-color: rgb(224, 48, 48);
    -fx-border-width: 1;
    -fx-border-radius: 0;
}
.back_button:pressed {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #4e0000, rgb(224, 48, 48));
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-border-color: rgb(224, 48, 48);
    -fx-border-width: 1;
    -fx-border-radius: 0;
}

.sidebar_button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.sidebar_button:pressed {
    -fx-background-color: #4e0000;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.separator {
    -fx-alignment: center;
    -fx-background-color: linear-gradient(to right, transparent, white, transparent);
    -fx-max-height: 1;
    -fx-pref-width: 200;
}